
.container {
    position: relative;
}

.slot {
    position: absolute;
    width: 160px;
    height: 40px;
    border: 1px dashed black;
}

.bus {
    width: 160px;
    height: 40px;
    border: 1px solid black;
    background-color: yellow;
    line-height: 40px;
    text-align: center;
}
