
.container {
    position: relative;
    top: 50px;
}

.slot {
    position: absolute;
    width: 160px;
    height: 40px;
    border: 1px dashed black;

    z-index: 4;
}

.bus {
    width: 160px;
    height: 40px;
    border: 1px solid black;
    background-color: yellow;
    line-height: 40px;
    text-align: center;
    z-index: 5;
}


.addbus {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
}

.addbus .inner select, .addbus .inner .selectize-control {
    width: 430px;
    display: inline-block;
    float: left;
}

.addbus .inner .button {
    margin-left: 10px;
}

.addbus .inner {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}