{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block css %}
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    {% endblock %}

    {% block js %}
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
    {% endblock %}

</head>
<body>
{% block body %}
    <nav class="navbar">
        <a class="navbar-brand" href=".">BusFind</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav{% block nav-style %}{% endblock %}">
            {% block nav %}
                {% if user.is_authenticated %}
                    <li><a href="/display">Display</a></li>
                    <li><a href="/modify">Modify</a></li>
                </ul>
                <ul class="nav navbar-nav right">
                    <li><a href="/logout">Logout</a></li>
                {% else %}
            </ul>
            <ul class="nav navbar-nav right">
                    <li><a href="/login">Login</a></li>
                {% endif %}
            {% endblock %}
            </ul>
        </div>
    </nav>

    <div class="content">
    {% block content %}

    {% endblock %}
    </div>

{% endblock %}

</body>
</html>
