{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/display.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block nav-style %} right{% endblock %}

{% block content %}

<div class="container">
{% for inst in instances %}
    <div class="bus" style="{{ inst.slot.style }}">
    {{ inst.bus }}
    </div>
{% endfor %}

{% for slot in slots %}
    <div class="slot" style="{{ slot.style }}">
    </div>
{% endfor %}

</div>
{% endblock %}