{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/display.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    {% include "draw-canvas.html" %}
{% endblock %}

{% block content %}

<div class="container">
    <canvas id="lineCanvas" width="1110" height="500"></canvas>
{% for inst in instances %}
    <div class="bus" style="{{ inst.slot.style }}; opacity:1">
    {{ inst.bus }}
    </div>
{% endfor %}

{% for slot in slots %}
    <div class="slot" style="{{ slot.style }}; opacity:0.3">
    </div>
{% endfor %}

{% if num == 0 %}
    <b>There are no slots where buses can be contained.</b>
{% endif %}

</div>
{% endblock %}