<script type="text/javascript">
    $(function() {
        var c = document.getElementById("lineCanvas");
        console.log(c);
        var ctx = c.getContext("2d");
        ctx.beginPath();
        ctx.moveTo(1020, 150);
        ctx.lineTo(1100, 425);
        ctx.stroke();

        var left = 1020;
        var right = 1100;

        for (var i = 0; i < 13; i++) 
        {
            left = left - 80;
            right = right - 80;
            var ptx = c.getContext("2d");
            ptx.beginPath();
            ptx.moveTo(left, 150);
            ptx.lineTo(right, 425);
            ptx.stroke();
        };
    });
</script>