{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} - Bus Display{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/display.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <style type="text/css">
    .splash {
        position: absolute;
        top: 50px;
        right: 0;
        width: 500px;
        height: 200px;
        
        text-shadow: 0 1px 0 #fff;
        background-image: -webkit-linear-gradient(top,#e0e0e0 0,#fff 100%);
        background-image: -o-linear-gradient(top,#e0e0e0 0,#fff 100%);
        background-image: -webkit-gradient(linear,left top,left bottom,from(#e0e0e0),to(#fff));
        background-image: linear-gradient(to bottom,#e0e0e0 0,#fff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe0e0e0', endColorstr='#ffffffff', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        background-repeat: repeat-x;
        border-color: #dbdbdb;
        border-color: #ccc;
        padding: 20px;
        z-index: 999;
    }

    .splash h2 {
        margin-top: 0;
    }

    .splash .x {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        cursor: pointer;
        padding: 10px;
    }

    .connectbtn {
        display: block;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 915px) {
        .splash {
            width: 100%;
            left: 0;
        }
    }

    @media (max-width: 500px) {
        .splash {
            height: 240px;
        }
    }
    </style>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/update.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/canvas.js' %}"></script>
{% endblock %}

{% block content %}
<script type="text/javascript">
iodine = function() {
    location.href = "https://iodine.tjhsst.edu/sso?req={{ iodine_token }}"
}
</script>
{% if not user.is_authenticated %}
<div class="splash">
    <div class="x" onclick="$(this).parent().remove()">x</div>
    <h2>Welcome to BusFinder.</h2>
    <p>Current arrival information is shown below as it happens. Connect with your TJ Intranet account and get email notifications whenever your bus arrives on campus. Follow <a href="https://twitter.com/tjbusfinder">@TJBusFinder</a> on Twitter to see when buses arrive in real-time.</p></p>
    <button class="connectbtn login login-submit" onclick="iodine()">Log in with Intranet</button>
</div>
{% endif %}

<div class="container">
    {% include "positioning.html" %}
    <canvas id="lineCanvas" width="1110" height="500"></canvas>
{% for inst in instances %}
    <div class="bus" style="{{ inst.slot.style }}; opacity:1">
    {{ inst.bus }}
    </div>
{% endfor %}

{% for slot in slots %}
    <div class="slot" style="{{ slot.style }}; opacity:0.3">
    </div>
{% endfor %}

{% if num == 0 %}
    <b>There are no slots where buses can be contained.</b>
{% endif %}

</div>
{% endblock %}