{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />

{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
<div class="login-card">
	<h1>Log-in</h1><br>
	<form>
		<input type="text" name="user" placeholder="Username">
		<input type="password" name="pass" placeholder="Password">
		<input type="submit" name="login" class="login login-submit" value="Login">
	</form>
</div>
{% endblock %}