{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ block.super }} - Login{% endblock %}

{% block css %}
	{{ block.super }}
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />

{% endblock %}

{% block js %}
	{{ block.super }}
	<script type="text/javascript">
	iodine = function() {
		location.href = "https://iodine.tjhsst.edu/sso?req={{ iodine_token }}"
	}
	</script>

{% endblock %}

{% block nav %}{% endblock %}
{% block bodyclass %}loginpage{% endblock %}
{% block content %}
<div class="login-card">
	<h1>Student Login</h1><br>
	<button class="login login-submit" style="width: 100%" onclick="iodine()">Log in with Intranet</button>
	<br />
	<h1>Admin Login</h1><br>
	{% if error %}{{ error }}{% endif %}
	<form method="post" action="/login">
	{% csrf_token %}
		<input type="text" name="username" placeholder="Username">
		<input type="password" name="password" placeholder="Password">
		<input type="submit" name="login" class="login login-submit" value="Login">
	</form>
</div>
{% endblock %}