{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/display.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.structure.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.theme.min.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
  
  <script>
  	$(function() {    
        $(".bus").draggable({
            revert: function(event, ui) {
                $(this).data("uiDraggable").originalPosition = {
                    top: 0,
                    left: 0
                };
                return !event;
            }
        });
        $(".slot").droppable({
            tolerance: "touch",
            activeClass: "ui-state-default",
            hoverClass: "ui-state-hover",
            drop: function(event, ui) {
                console.log("drop", event, ui);
                var rot = $(this).attr("data-rot");
                $(ui.draggable).css("transform", "rotate("+rot+"deg)")
            }
         });
    });

   </script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="slots">
    {% for inst in instances %}
        <div class="bus" style="{{ inst.slot.style }}" data-rot="{{ inst.slot.rotate }}">
        {{ inst.bus }}
        </div>
    {% endfor %}

    {% for slot in slots %}
        <div class="slot" style="{{ slot.style }}" data-rot="{{ slot.rotate }}">
        &nbsp;
        </div>
    {% endfor %}
    </div>

    <div class="buses">
    <div class="bus">
        test
    </div>
    </div>

</div>
{% endblock %}