{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/display.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.structure.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.theme.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}" />
{% endblock %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
  
  <script>
  	$(function() {
        updateServ = function(busid, slotid) {
            $.post("/modify", dat={
                "action": "modify_pos",
                "busid": busid,
                "slotid": slotid,
                "csrfmiddlewaretoken": "{{ csrf_token }}"
            }, function(d) {
                console.log("server response:", d);
            });
            console.log(dat);
        }

        addDrag = function() { 
            $(".bus").draggable({
                revert: function(event, ui) {
                    $(this).data("uiDraggable").originalPosition = {
                        top: 400,
                        left: 400
                    };
                    return !event;
                }
            });
            $(".slot").droppable({
                tolerance: "touch",
                activeClass: "ui-state-default",
                hoverClass: "ui-state-hover",
                drop: function(event, ui) {
                    console.log("drop", event, ui);
                    var rot = $(this).attr("data-rot");
                    $(ui.draggable).css("transform", "rotate("+rot+"deg)");
                    var left = $(this).attr("data-x");
                    $(ui.draggable).css("left", left+"px");
                    var top = $(this).attr("data-y");
                    $(ui.draggable).css("top", top+"px");
                    console.log(rot, left, top);

                    var bus_id = $(ui.draggable).attr("data-id");
                    if(!bus_id) {
                        bus_id = $(ui.draggable).html().trim()
                    }

                    var slot_id = $(this).attr("data-id")

                    updateServ(bus_id, slot_id);
                }
             });

            $(".trash").droppable({
                tolerance: "touch",
                activeClass: "ui-state-default",
                hoverClass: "ui-state-hover",
                drop: function(event, ui) {
                    $(ui.draggable).remove();
                }
             });
            $("#addfield").selectize({
                create: true
            });
        }

    addDrag()

        $("#addbtn").click(function() {
            var add_id = $("#addfield").val();
            var add_text = $("#addfield option[value='"+add_id+"']").html();
            $(".slots").append("<div class='bus' style='left: 400px;top: 400px' data-rot=0 data-x=400 data-y=400>"+add_text+"</div>");
            addDrag();
        });
    });

   </script>
{% endblock %}

{% block content %}

<div class="container">
    <div class="slots">
    {% for slot in slots %}
        <div class="slot" style="{{ slot.style }}" data-id="{{ slot.id }}" data-rot="{{ slot.rotate }}" data-x="{{ slot.coord.x }}" data-y="{{ slot.coord.y }}">
        &nbsp;
        </div>
    {% endfor %}

    {% for inst in instances %}
        <div class="bus" style="{{ inst.slot.style }}" data-id="{{ inst.id }}" data-rot="{{ inst.slot.rotate }}" data-x="{{ inst.slot.coord.x }}" data-y="{{ inst.slot.coord.y }}">
        {{ inst.bus }}
        </div>
    {% endfor %}

        <div class="trash">
        &nbsp;
        </div>
        <!-- <div class="trash" style="{{ slot.style }}" data-id="{{ slot.id }}" data-rot="{{ slot.rotate }}" data-x="50" data-y="50"> -->

    </div>

    <div class="addbus">
        <div class="inner">
            <select id="addfield" placeholder="Enter a bus name..">
                <option value="">Enter a bus name..</option>
            {% for bus in buses %}
                <option value="{{ bus.id }}">{{ bus.name }}</option>
            {% endfor %}
            </select>
            <button class="button" id="addbtn">Add</button>
        </div>
    </div>

</div>
{% endblock %}