{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'css/selectize.css' %}" />
    <style type="text/css">
    .container {
        margin-top: 40px;
    }

    h3 {
        font-size: 20px;
    }
    </style>

{% endblock %}

{% block js %}
{{ block.super }}
    <script type="text/javascript" src="{% static 'js/selectize.min.js' %}"></script>
    <script type="text/javascript">
    $(function() {
        $("#busselect").selectize({
            create: false
        });
    });
    </script>
{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
<div class="container">
    <h2>Hello, {{ model.tjusername }}!</h2>
    <h3>Which of these is your bus?</h3>
    <form action="" method="post">
        <select name="bus" id="busselect">
        {% for bus in buses %}
            <option value="{{ bus.id }}">{{ bus }}</option>
        {% endfor %}
        </select>
        <p>By choosing your bus entry here, you will be sent email notifications whenever the location of your bus changes! These messages will be sent to <b>{{ user.email }}</b>.</p>
        <input type="submit" value="Save Preference" class="button" />
    </form>
</div>
{% endblock %}