<style type="text/css">
    .pos-gym2 {
        position: absolute;
        bottom: 55px;
        left: 175px;
        padding: 5px;
        border: none;
    }

    .pos-door8 {
        position: absolute;
        bottom: 55px;
        left: 775px;
        padding: 5px;
        border: none;
    }

    .pos-accessrd {
        position: absolute;
        top: 109px;
        left: 1050px;
        padding: 5px;
        width: 200px;
        height: 50px;
        border: none;
        transform: rotate(74deg);
        line-height: 42px;
        text-align: center;
    }
</style>

<div class="pos-gym2">Gym 2/Alleyway</div>
<div class="pos-door8">Door 8</div>
<div class="pos-accessrd">Access Rd.</div>
